.boards {
  display: flex;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.cell {
  border: 2px solid black;
}

.ship {
  background-color: darkslategray;
}