.playerTurn.hide {
  visibility: hidden;
}

header .title h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

header .title {
  background-color: #232F72;
  margin-top: 1rem;
}

footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.restart-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.restart-button-container button {
  padding: 2px 5px;
}