.ship {
  --ship-height: 46px;
  --ship-width-1: 46px;
  background-color: darkcyan;
  position: absolute;
  height: var(--ship-height);
  z-index: 3;
}

.ship.two { 
  --ship-size: 2;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 4px);
  top: 2px;
  left: 2px;
}

.ship.three {
  --ship-size: 3;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 8px);
}

.ship.three.first {
  top: 52px;
  left: 2px;
}

.ship.three.second {
  top: 102px;
  left: 302px;
}

.ship.four {
  --ship-size: 4;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 12px);
  top: 152px;
  left: 2px;
}

.ship.five {
  --ship-size: 5;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 16px);
  top: 202px;
  left: 202px;
}

.ship.dragging {
  pointer-events: none;
  opacity: .9;
}

.ship.can-move:hover {
  cursor: pointer;
}

.vertical-2 {
  transform: rotate(90deg) translate(25px, 25px);
}

.vertical-3 {
  transform: rotate(90deg) translate(50px, 50px);
}

.vertical-4 {
  transform: rotate(90deg) translate(75px, 75px);
}

.vertical-5 {
  transform: rotate(90deg) translate(100px, 100px);
}