.ship {
  --ship-height: 46px;
  --ship-width-1: 46px;
  background-color: darkcyan;
  position: absolute;
  height: var(--ship-height);
  z-index: 3;
  transition: transform .5s;
}

.ship.randomize {
  display: none;
}

.ship.two { 
  --ship-size: 2;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 4px);
  top: 2px;
  left: 2px;
}

.ship.three {
  --ship-size: 3;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 8px);
}

.ship.three.first {
  top: 52px;
  left: 2px;
}

.ship.three.second {
  top: 102px;
  left: 302px;
}

.ship.four {
  --ship-size: 4;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 12px);
  top: 152px;
  left: 2px;
}

.ship.five {
  --ship-size: 5;
  width: calc((var(--ship-width-1) * var(--ship-size)) + 16px);
  top: 202px;
  left: 202px;
}

.ship.dragging {
  pointer-events: none;
  opacity: .9;
  z-index: 4;
}

.ship.can-move:hover {
  cursor: pointer;
}

.vertical-2 {
  transform: rotate(90deg) translate(25px, 25px);
}

.vertical-3 {
  transform: rotate(90deg) translate(50px, 50px);
}

.vertical-4 {
  transform: rotate(90deg) translate(75px, 75px);
}

.vertical-5 {
  transform: rotate(90deg) translate(100px, 100px);
}

.ship.can-move .rotate {
  display: none;
}

.ship.can-move .rotate.dragging {
  pointer-events: none;
}

.ship.can-move .rotate.active {
  position: relative;
  display: block;
  background-image: url("../assets/images/rotate-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 10px;
  transition-duration: .5s; 
}

.ship.can-move .rotate.active:hover {
  transform: rotate(360deg);
  transition-duration: 3s; 
}

.ship.can-move.two .rotate {
  left: 70px;
}

.ship.can-move.three .rotate {
  left: 120px;
}

.ship.can-move.four .rotate {
  left: 170px;
}

.ship.can-move.five .rotate {
  left: 220px;
}

/* For dragging cursor */

html.dragging:hover {
  cursor: pointer;
}

@keyframes red-border {
 0% { border: none }
 25% { border: solid 2px red;}
 50% { border: none }
 75% { border: solid 2px red; }
 100% { border: none;}
}

.ship.border-animation {
  animation: red-border 1s linear 1;
}